<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773808120657-3ohgsnuhmr81rmktcqln9ilvkoeum3a9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773808120657-3ohgsnuhmr81rmktcqln9ilvkoeum3a9</string>
	<key>API_KEY</key>
	<string>AIzaSyDMrIrFHFe2vgTCa-GQSf9zZX3x7Mm5mjM</string>
	<key>GCM_SENDER_ID</key>
	<string>773808120657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.cookinat</string>
	<key>PROJECT_ID</key>
	<string>attendize-9e3b1</string>
	<key>STORAGE_BUCKET</key>
	<string>attendize-9e3b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773808120657:ios:cbce07cdaf5199ec</string>
	<key>DATABASE_URL</key>
	<string>https://attendize-9e3b1.firebaseio.com</string>
</dict>
</plist>